body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #111111;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

.hidden {
	display: none;
}

.box {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.active-category {
    background: yellow;
}

.completed-category {
    background: green;
}

h1 {
	font-weight: bold;
	font-size: 200%;
}

h2 {
	font-weight: bold;
	font-size: 150%;
}

ul.category-list {
	list-style: none;
	margin-left: 0;
	margin-top: 0;
}

ul.category-list label {
	margin-left: 1em;
}

ul.category-list input[type=checkbox] {
	height: 1.7em;
	width: 1.7em;
	margin-top: 20px;
    position: relative;
    top: 3px;
}

div.main-content {
	margin-top: 2.2em;
	position: relative;
}

.icon-help {
	position: absolute;
	right: 13px;
	top: 15px;
}

html,
body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

nav.level {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.app-panel {
	position: relative;
}

.modal-content p {
	margin-top: 1em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
	nav#practice-buttons {
		margin-bottom: -36px;
	}

	.app-panel nav {
		margin-bottom: -36px;
	}
}
